<?xml version="1.0" ?>
<config>
  <modules>
    <Olko_FullShipping>
      <version>0.1.0</version>
      <depends>
        <Mage_Shipping />
      </depends>
    </Olko_FullShipping>
  </modules>


  <global>
    <models>
      <FullShipping>
        <class>Olko_FullShipping_Model</class>
      </FullShipping>
    </models>

    <resources>
      <FullShipping_setup>
        <setup>
          <module>Olko_FullShipping</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </FullShipping_setup>
    </resources>
  </global>
</config>

<!--<default>-->
<!--    <carriers>-->
<!--        <olko_fullshipping>-->
<!--            <active>1</active>-->
<!--            <sallowspecific>0</sallowspecific>-->
<!--              <model>fullshipping/carrier_fullbonemethod</model>-->
<!--            <name>Full Bone Method</name>-->
<!--            <title>Full Bone Method</title>-->
<!--            <specificerrmsg>-->
<!--                  This shipping method is currently unavailable.-->
<!--                  If you would like to ship using this shipping-->
<!--                  method, please contact us.-->
<!--            </specificerrmsg>-->
<!--            <handling_type>F</handling_type>-->
<!--        </olko_fullshipping>-->
<!--    </carriers>-->
<!--</default>-->
