<?xml version="1.0"?>
<config>
  <!-- turn on our module, required for install support -->
  <modules>
    <Olko_UserConnect>
      <version>0.1.0</version>
    </Olko_UserConnect>
  </modules>
  <global>
    <!-- turn on models -->
    <models>
      <userconnect>
        <class>Olko_UserConnect_Model</class>
        <resourceModel>userconnect_entity</resourceModel>
      </userconnect>
      
      <userconnect_entity>
        <class>Olko_UserConnect_Model_Entity</class>
        <entities>
          <customer_entity>
            <table>user</table>
          </customer_entity>
        </entities>
      </userconnect_entity>
      
      <customer>
        <rewrite>
          <customer>Olko_UserConnect_Model_Customer</customer>
        </rewrite>
      </customer>
    </models>
    <!-- turn on models -->
    <blocks>
      <Olko_UserConnect>
        <class>Olko_UserConnect_Block</class>
      </Olko_UserConnect>
      
      <!-- <blocks> -->
        <!-- <catalog>
            <rewrite>
                <product_view_type_simple>
                Olko_UserConnect_Block_ProductViewCase
                </product_view_type_simple>
            </rewrite>
        </catalog>
        </blocks> -->
    </blocks>
    <!-- turn on database connections -->
    <resources>
      <!-- setup is needed for automatic installation -->
      <modulename_setup>
        <use>default_setup</use>
      </modulename_setup>
      <modulename_write>
        <use>default_write</use>
      </modulename_write>
      <modulename_read>
        <use>default_read</use>
      </modulename_read>
    </resources>
  </global>
</config>
