<?xml version="1.0"?>
<config>
  <modules>
    <Olko_Shipping>
      <version>0.1.0</version>
      <depends>
        <Mage_Shipping/>
      </depends>
    </Olko_Shipping>
  </modules>
  <global>
    <models>
      <shippingmodule_setup>
        <class>Olko_Shipping_Model</class>
      </shippingmodule_setup>
    </models>
    <resources>  <!-- here we define db connection parameters it called resources -->
      <shippingmodule_setup>
        <setup>
          <module>Olko_Shipping</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </shippingmodule_setup>
    </resources>
  </global>
  <default>
    <carriers>  <!-- we want to add it as shipping module -->
      <shippingmodule>
        <model>Olko/carrier_Shipping</model>
      </shippingmodule>
    </carriers>
  </default>
</config>
