<?xml version="1.0"?>
<config>
  <modules>
    <Olko_Brands>
      <version>0.1.0</version>
    </Olko_Brands>
  </modules>

  <frontend>
    <routers>
      <brands>
        <use>standard</use>
        <args>
          <module>Olko_Brands</module>
          <frontName>brands</frontName>
        </args>
      </brands>
    </routers>
    <layout>
      <updates>
        <brands>
          <file>brands.xml</file>
        </brands>
      </updates>
    </layout>
  </frontend>

  <global>
    <blocks>
      <brands>
        <class>Olko_Brands_Block</class>
      </brands>
    </blocks>
    <helpers>
      <brands>
        <class>Olko_Brands_Helper</class>
      </brands>
    </helpers>

    <models>
      <brands>
        <class>Book_Brands_Model</class>
        <resourceModel>brands_mysql4</resourceModel>
      </brands>
  
      <brands_mysql4>
        <class>Book_Brands_Model_Mysql4</class>
        <entities>
        <brands>
        <table>brands</table>
        </brands>
        </entities>
      </brands_mysql4>
    </models>
  
    <resources>
      <brands_setup>
        <setup>
          <module>Book_Brands</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brands_setup>
      <brands_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brands_write>
      <brands_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brands_read>
    </resources>

  </global>

</config>
